* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

img {
  display: block;
}

.hero-section {
  background-color: #473C38;
  width: 100%;
  height: 650px;
  padding-top: 29px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: rgba(71, 60, 56, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 16px 0;
  width: 100%;
  position: sticky;
  top: 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  margin-left: 66px;
}
.menu a:hover {
  border-bottom: 2px solid #F0F1F0;
}

.rede-moveis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
}
.rede-moveis h1 {
  font-weight: 400;
  font-size: 60px;
  color: #FFFFFF;
  max-width: 643px;
  line-height: 100%;
  margin-bottom: 15px;
}

h2,
h3 {
  color: #473C38;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 130%;
}

.rede-moveis p {
  max-width: 450px;
  height: 49px;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  line-height: 18px;
  border-radius: 5px;
  background-color: #C2B19C;
  padding: 15px 52px 14px 51px;
  color: #473C38;
  display: inline-block;
  margin: 10px;
  border: 1px solid #000000;
}
.btn:hover {
  background-color: #F0F1F0;
}

.nossa-fabrica {
  display: flex;
  justify-content: space-between;
}
.nossa-fabrica img {
  margin: 100px 0;
}
.nossa-fabrica .content-nossa-fabrica {
  max-width: 642px;
}
.nossa-fabrica .content-nossa-fabrica h2 {
  font-weight: 400;
  color: #473C38;
  line-height: 100%;
  margin-top: 211px;
  margin-bottom: 25px;
}
.nossa-fabrica .content-nossa-fabrica p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  line-height: 130%;
  font-weight: 400;
  margin-bottom: 25px;
}
.nossa-fabrica .content-nossa-fabrica .btn2 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #473C38;
  border-radius: 5px;
  color: #F0F1F0;
  padding: 5px 26px 6px 25px;
  display: inline-block;
  line-height: 24px;
  border: 1px solid #000000;
  cursor: pointer;
}
.nossa-fabrica .content-nossa-fabrica .btn2:hover {
  background-color: #B2935B;
}

.card-section {
  background-color: #F0F1F0;
  width: 100%;
}
.card-section .container .madeiras h3 {
  text-align: center;
  padding: 50px 0;
  font-size: 48px;
  line-height: 100%;
}
.card-section .container .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.card-section .container .card .card-flex {
  background-color: #FAFAFA;
  width: 356px;
  height: 442px;
  font-weight: 130%;
  box-sizing: border-box;
  padding: 38px 38px 32px 38px;
}
.card-section .container .card .card-flex img {
  margin-bottom: 17px;
}
.card-section .container .card .card-flex h3 {
  font-size: 24px;
  font-weight: 400;
  color: #473C38;
  margin-bottom: 17px;
}
.card-section .container .card .card-flex p {
  line-height: 130%;
  color: #666666;
  margin-bottom: 17px;
}
.card-section .container .card .card-flex .btn2 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #473C38;
  border-radius: 5px;
  color: #F0F1F0;
  padding: 5px 26px 6px 25px;
  display: inline-block;
  line-height: 24px;
  border: 1px solid #000000;
  cursor: pointer;
  display: block;
  text-align: center;
}
.card-section .container .card .card-flex .btn2:hover {
  background-color: #B2935B;
}

.avaliacao .container {
  text-align: center;
  padding: 50px 0;
}
.avaliacao .container img {
  color: #473C38;
  margin-bottom: 20px;
  display: inline-block;
}
.avaliacao .container p {
  font-size: 40px;
  line-height: 100%;
  color: #473C38;
  padding-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.avaliacao .container span {
  color: #666666;
  line-height: 130%;
  font-family: "Roboto", sans-serif;
}

.formulario {
  background-color: #C2B19C;
}
.formulario .container {
  display: flex;
  flex-direction: row;
  padding: 63px 0;
}
.formulario .container input {
  display: inline-block;
  width: 451px;
  height: 30px;
  color: #666666;
  margin-right: 28px;
}
.formulario .container .btn2 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #473C38;
  border-radius: 5px;
  color: #F0F1F0;
  padding: 5px 26px 6px 25px;
  display: inline-block;
  line-height: 24px;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 3px 13px;
  width: 169px;
}
.formulario .container .btn2:hover {
  background-color: #B2935B;
}

footer {
  background-color: #473C38;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
  padding: 50px 0;
}
footer .container h5 {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 11px;
}
footer .container p {
  line-height: 130%;
  font-weight: 400;
  color: #F0F1F0;
}

@media (max-width: 1147px) {
  .formulario .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 15px;
  }
  .formulario .container input {
    margin-bottom: 13px;
  }
}
@media (max-width: 1000px) {
  .menu {
    background-color: #B2935B;
    position: absolute;
    left: 0;
    top: 129px;
    width: 100%;
    height: 643px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: 0.3s;
  }
  .menu a {
    display: block;
    margin: 0;
    padding: 20px 15px;
    color: #473C38;
    border-bottom: 1px solid #473C38;
  }
  .abrirMenu {
    transform: translateX(0);
  }
  .barra {
    width: 40px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 3px;
    border-radius: 3px;
  }
  .barraSelecionada .barra {
    background-color: #B2935B;
  }
  .rede-moveis .content h1 {
    font-size: 40px;
  }
  .nossa-fabrica {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .nossa-fabrica .content-nossa-fabrica {
    width: 100%;
    min-width: 384px;
    max-width: 550px;
  }
  .nossa-fabrica .content-nossa-fabrica h2 {
    font-size: 32px;
    margin-top: 115px;
  }
  .nossa-fabrica .armario-rustico img {
    width: 100%;
    min-width: 232px;
    max-width: 558px;
  }
  .card-section .card {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
  }
}
@media (max-width: 837px) {
  .rede-moveis {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    text-align: center;
  }
  .rede-moveis .content h1 {
    margin-bottom: 16px;
    line-height: 36px;
  }
  .rede-moveis .content p {
    line-height: 24px;
    margin-bottom: 16px;
    max-width: 643px;
  }
  .rede-moveis .cama {
    margin-top: 52px;
  }
  .rede-moveis .cama img {
    width: 100%;
    width: 264px;
    max-width: 362px;
    height: 210px;
  }
  footer .container h5 {
    font-size: 20px;
  }
  footer .container p {
    font-size: 16px;
  }
}
@media (max-width: 598px) {
  .hero-section {
    height: 610px;
  }
  .rede-moveis .content {
    text-align: center;
  }
  .rede-moveis .content h1 {
    font-size: 32px;
    line-height: 36px;
  }
  .rede-moveis .content P {
    line-height: 24px;
    margin-bottom: 24px;
  }
  .rede-moveis .content a {
    margin-top: 16px;
  }
  .nossa-fabrica .content-nossa-fabrica h2 {
    font-size: 28px;
    margin-top: 115px;
  }
  .nossa-fabrica .content-nossa-fabrica p {
    margin-bottom: 39px;
  }
  .nossa-fabrica .content-nossa-fabrica .btn2 {
    margin-bottom: 100px;
  }
  .armario-rustico img {
    display: none;
  }
  .card-section .container .madeiras h3 {
    font-size: 28px;
  }
  .avaliacao .container p {
    font-size: 24px;
  }
  .formulario .container input {
    width: 384px;
    box-sizing: border-box;
  }
  footer .container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 80px 15px;
  }
}
.areaDoCliente {
  background-color: #473C38;
}/*# sourceMappingURL=style.css.map */